$primary: #e34b4b;
$secondary: #1f2534;
$tertiary: #181b23;

$accent-primary: #4ba3e4;
$accent-secondary: #7783a5;

$colors: (
    "primary": $primary,
    "secondary": $secondary,
    "tertiary": $tertiary,
    "accent-primary": $accent-primary,
    "accent-secondary": $accent-secondary,
);

@each $colorName, $colorValue in $colors {
    .#{$colorName}--bg {
        background: $colorValue !important;
    }

    .#{$colorName}--text {
        color: $colorValue !important;
    }
}